@font-face {
  font-family: "mantinia";
  src: url("../../fonts/Mantinia Regular.otf");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "agmenaRegular";
  src: url("../../fonts/Agmena Pro Regular.ttf");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "agmenaBold";
  src: url("../../fonts/Amena Pro Bold.ttf");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "agmenaBook";
  src: url("../../fonts/Agmena Pro Book.ttf");
  font-weight: bold;
  font-style: normal;
}
body {
  display: flex;
  flex-direction: column;
  margin: 0;
  color: white;
  background-color: black;
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  width: 20px;
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(61, 61, 61);
  border-radius: 10px;
}

body::-webkit-scrollbar-thumb:hover {
  background-color: #caab79;
}

body::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0);
}

body.no-scroll {
  overflow: hidden;
}

li {
  padding: 0px 10px;
  list-style: none;
  cursor: pointer;
  font-family: "mantinia";
  text-align: center;
}

a {
  display: contents;
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
  font-size: 16px;
  font-family: "nunito";
  background-color: #caab79;
  border-radius: 5px;
  border: 2px solid black;
}

input {
  color: white;
  padding: 5px;
  border-radius: 10px;
  font-size: 14px;
  border: 2px solid;
  background-color: inherit;
}

input:focus {
  border: 2px solid #caab79;
  outline: none;
}

.bannerContent {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 600px;
  position: relative;
  top: 45px;
  left: 0;
  overflow: hidden;
  object-fit: cover;
  font-family: "mantinia";
  color: #caab79;
}
.bannerContent h1 {
  display: flex;
  align-items: center;
  font-size: 100px;
  position: absolute;
  top: 0px;
}
.bannerContent .titlePart {
  font-size: 150px;
}
.bannerContent h2 {
  box-shadow: 2px 3px 7px rgba(0, 0, 0, 0.3);
  padding: 7px 7px 0 7px;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 50px;
  position: absolute;
  top: 220px;
}

#banner {
  position: fixed;
  top: 50px;
  width: 100%;
  height: 600px;
  opacity: 1;
  transition: opacity 0.6s ease-in-out;
}

.opacityLow {
  opacity: 0.7;
}

#banner.scrolled {
  opacity: 0.7;
}

.bannerImg {
  object-fit: cover;
  top: 50px;
  width: 100%;
  height: 600px;
}

.bannerOverlay {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0.3450630252) 35%);
}

.bannerInput {
  width: 95%;
  padding: 7px 10px 5px;
  font-size: 16px;
  border-radius: 20px;
  border: 2px solid #caab79;
  background-color: rgba(0, 0, 0, 0.3);
}

.bannerInput:focus {
  outline: none;
}

.bannerInput::placeholder {
  color: white;
}

#searchInput {
  z-index: 50;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  font-family: "Nunito", sans-serif;
  color: white;
  position: absolute;
  width: 40%;
  height: 35px;
  bottom: 220px;
}

#searchInput.fixed {
  position: fixed;
  top: 25px;
}

.articlesTitleContent {
  display: flex;
  align-items: center;
}

#filter {
  border-radius: 50px;
  overflow: hidden;
  margin-left: 20px;
  font-size: 14px;
  z-index: 10;
  display: flex;
  align-items: center;
  height: 35px;
  width: 35px;
  background-color: rgba(0, 0, 0, 0);
  transition: background-color 0.4s ease-in-out, width 0.4s ease-in-out, color 0.4s ease-in-out;
}
#filter ul {
  width: 100%;
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 0;
}
#filter li {
  color: white;
  transition: color 0.2s ease-in-out;
}
#filter li:hover {
  color: black;
}

#filterIcon {
  z-index: 12;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px;
  border: 2px solid #caab79;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0);
  color: white;
  transition: background-color 0.4s ease-in-out, color 0.4s ease-in-out;
}

#filterIcon:hover {
  color: black;
  background-color: #caab79;
}

#filter.showFilters {
  width: 450px;
  background-color: #caab79;
}

#allItems {
  z-index: 0;
  position: relative;
  margin: auto;
  width: 90%;
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  margin-bottom: 100px;
}

.allArticles {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.hidden {
  display: none;
}

#loreTitle,
#articlesTitle {
  font-size: 28px;
  align-self: flex-start;
  font-family: "agmenaRegular";
}

#articlesLink,
#loreLink {
  position: absolute;
  top: -95px;
}

.lore {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: flex-end;
}
.lore .loreImg {
  border-radius: 20px;
  width: 48%;
}

.loreSection {
  background-color: rgba(202, 171, 121, 0.3647058824);
  border-radius: 20px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
}
.loreSection p {
  font-size: 18px;
  height: fit-content;
  text-align: center;
  width: 48%;
}

.reverse {
  flex-direction: row-reverse;
}

#topLink {
  position: absolute;
  top: 0;
}

#goBackTop {
  z-index: 51;
  transform: translateX(200%);
  cursor: pointer;
  border: 2px solid #caab79;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: rgba(0, 0, 0, 0);
  color: white;
  transition: transform 0.2s ease-in-out, background-color 0.4s ease-in-out, color 0.4s ease-in-out;
}

#goBackTop:hover {
  color: black;
  background-color: #caab79;
}

#goBackTop.showGoBackTop {
  transform: translateX(0%);
}

/*# sourceMappingURL=style.css.map */
