#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 50;
    height: 85px;
    background-color: rgba(0, 0, 0, 0);
    border-bottom: 2px solid rgba(0, 0, 0, 0);
    opacity: 1;
    transition: border-bottom 0.2s ease-in-out;

    a{
      display: block;
      margin-right: 0px;
    }


   ul {
    margin: 0;
    display: flex;
    list-style: none;
    }

    li {
      font-size: 14px;
      margin-right: 20px;
    }
}

#header.headerStyle {
  background-color: black;
  border-bottom: 2px solid #caab79;
}

.loggedLink {
  position: absolute;
  left: 80px;
  color: black;
}

.loggedLink:hover {
  color: black;
}

.goBackLink {
  border: 2px solid #caab79;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 35px;
  width: 35px;
  margin-left: 20px;
}

.createLink {
  margin-right: 100px;
  color: white;
}

.loginLink, .subLink {
  margin-right: 20px;
}

#header.showTitle {
  background-color: black;
  z-index: 2;
  border-bottom: 2px solid #caab79;
}


#headerTitle {
  z-index: 10;
  font-family: 'mantinia';
  margin: 0;
  margin-left: 20px;
  color: #caab79;
  align-self: center;
  display: flex;
  align-items: center;
  font-size: 16px;
  opacity: 0;
  transition: opacity 0.4s ease-in-out;

  .titlePart {
      font-size: 24px;
  }
}

#headerTitle.showTitle {
  opacity: 1;
}


#headerNav {
  z-index: 50;
  display: flex;
  position: absolute;
  top: 35px;
  right: 80px;
}

.headerLink {
  margin-right: 20px;
}

.userSettings{
  overflow: hidden;
  display: flex;
  background: #caab7900;
  z-index: 50;
  width: 55px;
  height: 50px;
  padding-left: 5px;
  border-radius: 100px;
  justify-content: flex-start;
  align-items: center;
  margin: 20px;
  transition: width 0.4s ease-in-out, background 0.4s ease-in-out;

  .userIcon {
    color: white;
    transition: color 0.4s ease-in-out;
    padding: 3px;
    border: 2px solid #caab79;
    border-radius: 50%;
  }

  ul{
    padding: 0;
    display: flex;
    align-items: flex-start;
  }

  li{
    width: 150px;
  }
}

.userSettings:hover {
  justify-content: flex-start;
  background: #caab79;
  width: 400px;
  display: flex;

  li{
    opacity: 1;
  }

  .userIcon{
    color: black;
  }
}


.loginWelcome{
  font-size: 14px;
  overflow: hidden;
  display: flex;
  background: #caab7900;
  z-index: 50;
  width: 55px;
  height: 50px;
  padding-left: 5px;
  border-radius: 100px;
  justify-content: flex-start;
  align-items: center;
  margin: 20px;
  transition: width 0.4s ease-in-out, background 0.4s ease-in-out;

  ul{
      padding: 0;
      display: flex;
      align-items: flex-start;
    }
  
    li{
      width: 180px;
    }
}

.loginWelcome:hover {
  justify-content: flex-start;
  background: #caab79;
  width: 450px;
  display: flex;
}

.profilePicture {
  object-fit: cover;
  cursor: pointer;
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

