.header {
    display: flex;
    width: 100%;
    position: fixed;
    padding: 20px 0px;
    z-index: 3;
    height: 100px;
    background: linear-gradient(0deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 55%);

   ul {
    margin: 0;
    margin-top: 8px;
    display: flex;
    list-style: none;
    }

    li {
        margin-right: 40px;
    }

    .ost {
        position: absolute;
        top: 20px;
        right: 20px;
      }
    
      #audioPlayer {
        height: 40px;
      }
}
