.modalForm {
    z-index: 4;
    width: 40%;
    position: relative;
    display: flex;
    justify-content: center;
    background-color: rgba(34, 34, 34, 0.95);
    border-radius: 20px;
    font-family: 'nunito';
    height: 60vh;


    h1 {
        margin: 0;
        margin-bottom: 20px;
    }

    form {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    #loginClose, #subClose, #createClose {
        z-index: 5;
        cursor: pointer;
        position: absolute;
        top: 20px;
        right: 20px;
        border-radius: 50%;
        padding: 10px;
        background-color: rgba(0, 0, 0, 0.7);
    }
}

input {
    color: white;
    padding: 5px;
    border-radius: 10px;
    font-size: 14px;
    border: 2px solid;
    background-color: inherit;
}

input:focus {
    border: 2px solid #caab79;
    outline: none;
}

button {
    cursor: pointer;
    font-size: 16px;
    font-family: 'nunito';
    background-color: #caab79;
}

textarea {
    font-family: 'nunito';
    padding: 10px;
    resize: none;
    outline: none;
    border-radius: 5px;
    height: 200px;
}

.opacityLow {
    opacity: 0.7;
}


#modalLogin, #modalSub {
    transform: translateX(250%);
    transition: transform 0.4s ease-in-out;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 11;
    justify-content: center;
    align-items: center;
    display: flex;
}

#modalLogin.show, #modalSub.show {
    transform: translateX(0%);
}


#delete, #update, #create, #read {
    z-index: 2;
    margin: 100px 0px;
    width: 100%;
    z-index: 5;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;

    h1{
        z-index: 2;
        align-self: flex-start;
        margin-left: 5%;
    }
}

#updateContent, #deleteContent, #createContent, #readContent {
    z-index: 2;
    border-radius: 20px;
    width: 90%;
    justify-content: space-between;
    align-items: center;
    display: flex;
    background-color: rgba(53, 53, 53, 0.8);
    position: relative;
}

#deleteContent {
    form {
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        p {
            margin-bottom: 20px;
            font-weight: 100;
            font-size: 14px;
        }

        button {
            width: 50%;
        }
    }
}

.itemContainer, .commentsContainer {
    width: 50%;
}

.itemPreview {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h2 {
        position: absolute;
        top: 40px;
        font-size: 18px;
    }
}

.z {
    z-index: 1;
}

.updateForm, .createForm {
    width: 50%;
    z-index: 2;
    margin: 40px 0px;
    display: flex;
    flex-direction: column;
    padding: 0px 20px;
    border-right: 2px solid;

    label{
        font-size: 24px;
    }


    form {
    }
}

.comments {
    width: 90%;
}

#modalOverlay {
    overflow: hidden;
    display: flex;
    z-index: -1;
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
}

#modalOverlay.showOverlay {
    z-index: 11;
    opacity: 1;
}

.formSection {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;

    label {
        margin-bottom: 5px;
    }

    input {
        border-radius: 5px;
        box-sizing: border-box;
        width: 100%;
    }
}

.formBtn {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid;
    padding: 5px 10px;
    height: 50px;
    border-radius: 5px;
    align-self: center;
}

.loginWelcome{
    overflow: hidden;
    display: flex;
    background: #caab7900;
    z-index: 11;
    font-family: "nunito";
    position: fixed;
    top: 10px;
    right: 20px;
    height: 55px;
    width: 55px;
    padding-left: 5px;
    border-radius: 100px;
    justify-content: flex-start;
    align-items: center;
    transition: width 0.4s ease-in-out, background 0.4s ease-in-out;
}

.loginWelcome:hover {
    justify-content: flex-start;
    background: #caab79;
    width: 260px;
    display: flex;
}

.profilePicture {
    cursor: pointer;
    height: 45px;
    width: 45px;
    border-radius: 50%;
}

.loginForm {
    width: 60%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    h2{
        margin-top: 0;
    }
}

.modalDesign {
    display: flex;
    justify-content: center;
    border-radius: 0 20px 20px 0;
    width: 40%;
    overflow: hidden;
}


select {
    outline: none;
    height: 30px;
    border-radius: 5px;
}


