@font-face {
    font-family: 'mantinia';
    src: url("../../fonts/Mantinia\ Regular.otf");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'agmenaRegular';
    src: url("../../fonts/Agmena\ Pro\ Regular.ttf");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'agmenaBold';
    src: url("../../fonts/Amena\ Pro\ Bold.ttf");
    font-weight: bold;
    font-style: normal;
}


@font-face {
    font-family: 'agmenaBook';
    src: url("../../fonts/Agmena\ Pro\ Book.ttf");
    font-weight: bold;
    font-style: normal;
}

.bannerContent {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 600px;
    position: relative;
    top: 45px;
    left: 0;
    overflow: hidden;
    object-fit: cover;
    font-family: 'mantinia';
    color: #caab79;

    h1{
        display: flex;
        align-items: center;
        font-size: 100px;
        position: absolute;
        top: 0px;
    }

    .titlePart {
        font-size: 150px;
    }

    h2{
        box-shadow: 2px 3px 7px rgba(0, 0, 0, 0.3);
        padding: 7px 7px 0 7px;
        background-color: rgba(0, 0, 0, 0.3);
        border-radius: 50px;
        position: absolute;
        top: 220px;
    }

}


#divTest {
    position: fixed;
    top: 50px;
    width: 100%;
    height: 600px;
    opacity: 1;
    transition: opacity 0.6s ease-in-out;
}

#divTest.scrolled {
    opacity: 0.7;
}

.bannerTest {
    object-fit: cover;
    top: 50px;
    width: 100%;
    height: 600px;
}

.bannerOverlay {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.34506302521008403) 35%);
}


.bannerInput {
    width: 100%;
    padding: 7px 10px 5px ;
    font-size: 16px;
    border-radius: 20px;
    border: 2px solid #caab79;
    background-color: rgba(0, 0, 0, 0.3);
}


.bannerInput:focus {
    outline: none;
}

.bannerInput::placeholder {
    color: rgb(184, 184, 184); /* Rouge pour les navigateurs modernes */
}

#searchInput {
    z-index: 50;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    font-family: "Nunito", sans-serif;
    color: white;
    position: absolute;
    width: 40%;
    height: 35px;
    bottom: 220px;
}

#searchInput.showTitle {
    position: fixed;
    top: 25px;
}

.searchFilter {
    z-index: 12;
    display: flex;
}

///////////////////////////////////FILTRE/////////////////////////////////
/// 

.articlesTitleContent {
    display: flex;
    align-items: center;
}

#moreFilter {
    z-index: 12;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    width: 35px;
    height: 35px;
    border: 2px solid #caab79;
    border-radius: 50%;
}

#filter.showFilter {
    transform: translateY(0%);
}

.searchBtns {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

.searchBtn {
    font-size: 22px;
    font-family: 'agmenaBook';
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
    border-radius: 20px;
    width: 47.5%;
    border: 2px solid #caab79;
}


#filter {
    margin-left: 20px;
    font-size: 14px;
    z-index: 10;
    display: flex;
    align-items: center;
    width: 450px;
    height: 50px;


ul{
    width: 100%;
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0;
}
}


//////////////////////////////////////////////////////////////////////


body {
    display: flex;
    flex-direction: column;
    margin: 0;
    color: white;
    background-color: black;
    overflow-x: hidden;
}

body.no-scroll {
    overflow: hidden;
}

li{
    padding: 0px 10px;
    list-style: none;
    cursor: pointer;
    font-family: 'mantinia';
    text-align: center;
    border-radius: 20px;
    background-color: #caab7900;
    box-shadow: 0 0 0 0 #caab7900;
    color: white;
    transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, color 0.2s ease-in-out;

}

li:hover {
    background-color: #caab79;
    color: black;
    box-shadow: 0 0 10px 10px #caab79;
}

a{
    display: contents;
    text-decoration: none;
    color: inherit;
}

a:hover{
    text-decoration: none;
    color: inherit;
}


#headerTitle.opacity {
    position: fixed;
    top: 20px;
    opacity: 1;
    margin-left: 0;}

/////////////////////////////////////////////////ARTICLE//////////////////////////////////////////

#allItems {
    z-index: 0;
    position: relative;
    margin: auto;
    width: 90%;
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    margin-bottom: 100px;
}

.allArticles {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}


article {
    position: relative;
    overflow: hidden;
    font-family: 'agmenaRegular';
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(0deg, rgba(41, 41, 41, 1) 75%, rgb(116, 97, 76) 100%);
    border-radius: 10px;
    padding: 20px;
    width: 26%;
    margin-bottom: 40px;
    border: 8px solid black;
    transition: scale 0.1s ease-in-out;

    .articleImg {
        z-index: 2;
        object-fit: cover;
        border: 4px solid black;
        border-radius: 2px;
        margin-top: 20px;
        width: 100%;
        height: 230px;
    }

    .articleBackground {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        opacity: 0.2;
        img {
            opacity: 1;
        }
    }


    .articleInfo {
        overflow: auto;
        max-height: 55px;
        font-family: 'agmenaBook';
        z-index: 2;
        width: 100%;
        font-size: 18px;
        margin: 20px 0;
        align-self: flex-start;
        padding-bottom: 20px;
        border-bottom: 4px solid black;
    }

    .articleInfo::-webkit-scrollbar {
        width: 5px;
    }
    
    .articleInfo::-webkit-scrollbar-thumb {
        background-color: rgb(61, 61, 61);
        border-radius: 10px;
        height: 20px;
    }
    
    .articleInfo::-webkit-scrollbar-thumb:hover {
        background-color: #caab79;
    }
    
    .articleInfo::-webkit-scrollbar-track {
        background: none;
    }

    .authorInfo {
        z-index: 2;
        font-size: 16px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }

    .editIcon {
        margin-right: 20px;
    }

    h3 {
        z-index: 2;
        font-size: 22px;
        margin: 0;
        align-self: flex-start;
    }

    h4 {
        z-index: 2;
        align-self: flex-end;
        margin: 0;
    }
}

article:hover {
    scale: 1.02;
}

article.preview:hover{
    scale: 1;
}

.preview {
    align-self: center;
    z-index: 1;
    width: 400px;
    margin-bottom: 0;

}

.hidden {
    display: none;
}

.opacity {
    opacity: 1;
}


#loreTitle, #articlesTitle {
    font-size: 28px;
    align-self: flex-start;
    font-family: 'agmenaRegular';
}

#articlesLink, #loreLink {
    position: absolute;
    top: -95px;
}


.lore {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-end;

    .loreImg{
        border-radius: 20px;
        width: 48%;
    }
}

.loreSection {
    background-color: #caab795d;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
    p {
        font-size: 18px;
        height: fit-content;
        text-align: center;
        width: 48%;
    }
}

.reverse {
    flex-direction: row-reverse;
}

///////////////////////////////////////COMMENTS///////////////////////////////


.commentsContainer {
    min-height: 100%;

    form {
        display: flex;
    flex-direction: column;
    width: 100%;
    }
}

.commentsForm {
    margin: 20px 0;
    display: flex;
    flex-direction: column;
}

.comments {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100%;

    h2{
        margin-top: 0;
    }
}

.allComment {
    overflow: auto;
    display: flex;
    max-height: 300px;
    flex-direction: column;
}


.allComment::-webkit-scrollbar {
    width: 5px;
}

.allComment::-webkit-scrollbar-thumb {
    background-color: rgb(61, 61, 61);
    border-radius: 10px;
    height: 20px;
}

.allComment::-webkit-scrollbar-thumb:hover {
    background-color: #caab79;
}

.allComment::-webkit-scrollbar-track {
    background: none;
}

.comment {
    margin-bottom: 15px;
    border-bottom: 2px solid;
    display: flex;
}

#commentMessage {
    display: flex;
}

.commentsId {
    display: none;
}

.commentsPicture {
    display: flex;
}

.commentsContent {
    margin-left: 20px;
}

.commentsTitle {
    display: flex;

    p {
        margin: 0;
        margin-right: 20px;
    }
}

#topLink {
    position: absolute;
    top: 0;
}


#goBackTop {
    cursor: pointer;
    border: 2px solid #caab79;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 20px;
    right: 20px;
}


footer {
    background-color: black;
    z-index: 50;
    width: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 50px;

    h2{
        font-family: 'nunito';
        font-size: 16px;
    }
}

